{% extends "layout/default" %}

{% block content %}
    <article>
        <h1>Away From Security</h1>

        <p id="description">
            Away From Security est un site communautaire autour de la sécurité informatique, vous y trouverez ici des
            rendez-vous, conférences, hackaton pour retrouver des passionnés ou des amateur.
            N'attendez pas pour vous inscrire et découvrir toutes les possibilités qu'offre Away From Security !
        </p>
    </article>
    <article>
        <div class="part_block">
            <h3 id="news">Actualités</h3>

            <div class="first-news">
                <div class="first-news-description-block">
                    <h6><a href="/article/show/{{ article.top.id }}">{{ article.top.title }}</a></h6>
                    <span class="mini-text">{{ article.top.postdate }}</span>
                    <span class="mini-text"><a href="#">{{ article.top.category.name }}</a></span>
                    <span class="mini-text"><a href="#">{{ article.top.user.firstname }}</a></span>
                </div>
                <a href="#"><img src="{{ article.top.image }}" alt="News"/></a>
                <div class="first-news-text">
                    {{ article.top.text }}
                </div>
            </div>

            <div class="last-news">
                {% for art in article.last %}
                <div class="litle-news">
                    <span class="mini-text">{{ art.postdate }}</span>
                    <span class="mini-text">{{ art.category.name }}</span>
                    <span class="mini-text"><a href="/user/profile/{{ art.user.username }}">{{ art.user.username }}</a></span>
                    <span class="mini-title"><a href="/article/show/{{ art.id }}">{{ art.title }}</a></span>
                    <span class="little-news-text"><a href="/article/show/{{ art.id }}">{{ art.text }}</a></span>
                </div>
                {% endfor %}
            </div>
        </div>
    </article>
    <article>
        <h3>Évènements</h3>

        <div class="part_block grid">
            <div class="mois">
                {{ helpers.assets.img('défis-or.png', 'Défi du jour') }}
                <h4>Évènements les plus populaires</h4>
            </div>
            <ul>
                {% if events.top is empty %}
                    <span>Il n'y a pas d'évènement populaire.</span>
                {% else %}
                    {% for event in events.top %}
                        <li>
                            <h5><a href="/event/show/{{ event.id }}">{{ event.name }}</a></h5>

                            <p>{{ event.description }}</p>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="part_block grid">
            {{ helpers.assets.img('défis-argent.png', 'Défis de la semaine') }}
            <h4>Les derniers évènements</h4>
            <ul>
                {% if events.last is empty %}
                    <p>Il n'y a pas d'évènements récents.</p>
                {% else %}
                    {% for event in events.last %}
                        <li>
                            <h5><a href="/event/show/{{ event.id }}">{{ event.name }}</a></h5>

                            <p>{{ event.description|raw }}</p>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </article>
    <article>
        <div class="part_block">
            {{ helpers.assets.img('amis.png', 'Derniers inscrits') }}
            <h4>Les derniers inscrits</h4>
            <ul>
                {% for user in lastUsers %}
                    <li><h5>- <a href="/user/profile/{{ user.username }}">{{ user.username }}</a></h5></li>
                {% endfor %}
            </ul>
        </div>
    </article>
{% endblock %}