{% extends "layout/default" %}
{% block content %}
    <article>
        <ul id="news">
            <li>
                <h1>{{ new.name }}</h1>

                <span class="mini-text">ajouté le {{ new.postdate }}, </span>
                <span class="mini-text">par : <a
                            href="/user/profile/{{ new.user.username }}">{{ new.user.firstname ~ ' ' ~ new.user.lastname }}</a></span>

                <p>
                    {{ new.text }}
                </p>
            </li>
        </ul>
    </article>
{% endblock %}