
{% extends "layout/default" %}
{% block content %}
    <article>
        <h1>{{ conversation.title }}</h1>

        <p class="subtitle">
            Crée par <b>{{ conversation.creator }}</b> le <b>{{ conversation.createtime }}</b><br/>
            Dernier message posté par <b>{{ conversation.lastmessageauthor }}</b> le
            <b>{{ conversation.lastmessagetime }}</b>.<br/>
            Vu par <b>{{ conversation.seen }}</b>
        </p>

        {% for message in conversation.messages %}
        <div class="">
            <b>{{ message.authorName }}</b> le {{ message.date }}
            <p>
                {{ message.content }}
            </p>
        </div>
        {% endfor %}

        <hr/>

        <form method="POST" action="/conversation/show/{{ conversation.id }}" class="pure-form pure-form-aligned conversation-creation">
            <div class="pure-control-group">
                <label for="title">Message</label>
                <textarea required name="message" placeholder="Ici un message qualitatif"></textarea>
            </div>

            <div class="pure-controls">
                <input type="submit" value="Nouveau message !" name="submit" class="pure-button pure-button-primary"/>
            </div>
        </form>

        <hr/>

        <form method="POST" action="/conversation/add/{{ conversation.id }}"
              class="pure-form pure-form-aligned conversation-creation">
            <div class="pure-control-group">
                <label for="title">Participants</label>
                <textarea required id="participations" name="participations" placeholder="Toto">{{ dest }}</textarea>
            </div>

            <div class="pure-controls">
                <input type="submit" value="Ajouter à la conversation !" name="submit"
                       class="pure-button pure-button-primary"/>
            </div>
        </form>

        <hr/>

        <a href="/conversation/quit/{{ conversation.id }}" class="pure-button pure-button-primary">Quitter cette
            conversation</a>
    </article>
{% endblock %}