{% extends "layout/default" %}
{% block content %}
    <article>
        <h1>{{ article.title }}</h1>

        <span class="mini-text">ajouté le {{ article.postdate }}, </span>
        <span class="mini-text">par
            <a href="/user/profile/{{ article.user.username }}">
                {{ article.user.firstname ~ ' ' ~ article.user.lastname }}
            </a>,
        </span>
        <span class="mini-text">Catégorie : {{ article.category.name }}</span>

        <p>
            {{ article.text }}
        </p>

        {% if article.user.id == auth.userId or auth.options.accessLevel %}
            <a href="/article/modify/{{ article.id }}" class="pure-button pure-button-primary">Modifier</a>
        {% endif %}

        <hr/>
        <form method="POST" action="/article/comment/{{ article.id }}"
              class="pure-form pure-form-aligned conversation-creation">
            <div class="pure-control-group">
                <label for="title">Commentaire</label>
                <textarea required id="message" name="message"
                          placeholder="Un commentaire constructif, sans trolls."></textarea>
            </div>

            <div class="pure-controls">
                <input type="submit" value="Commenter !" name="submit"
                       class="pure-button pure-button-primary"/>
            </div>
        </form>

        <hr/>
        <div>
            <ul>
                {% for comment in comments %}
                    <li>
                        <b>Par {{ comment.authorFullName }} le {{ comment.postdate }}</b>

                        <p>
                            {{ comment.message }}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </article>
{% endblock %}