{% extends "layout/default" %}
{% block content %}
    <article>
        <h1>{{ article.title }}</h1>

        <div class="article-subtitle">
            <span class="mini-text">ajouté le {{ article.postdate }}, </span>
            <span class="mini-text">par
                <a href="/user/profile/{{ article.user.username }}">
                    {{ article.user.firstname ~ ' ' ~ article.user.lastname }}
                </a>,
            </span>
            <span class="mini-text">Catégorie : {{ article.category.name }}</span>
        </div>
        <div class="article-content">
            {%  if article.image != empty %}
                <img src="{{ article.image }}" alt="Article image" class="article-img"/>
            {%  endif  %}

            <p>
                {{ article.text }}
            </p>
        </div>
        {% if article.user.id == auth.userId or auth.options.accessLevel %}
            <a href="/article/modify/{{ article.id }}" class="pure-button pure-button-primary">Modifier</a>
        {% endif %}

        <hr/>
        <div>
            <ul class="article-comments">
                {% for comment in comments %}
                    <li class="article-comment">
                        <b class="article-comment-author">Par {{ comment.authorFullName }} le {{ comment.postdate }}</b>

                        <p class="article-comment-message">
                            {{ comment.message }}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <hr/>
        <div>
            <form method="POST" action="/article/comment/{{ article.id }}"
                  class="pure-form pure-form-aligned conversation-creation">
                <div class="pure-control-group">
                    <label for="message">Commentaire</label>
                    <textarea required id="message" name="message"
                              placeholder="Un commentaire constructif, sans trolls."></textarea>
                </div>

                <div class="pure-controls">
                    <input type="submit" value="Commenter !" name="submit"
                           class="pure-button pure-button-primary"/>
                </div>
            </form>
        </div>
    </article>
{% endblock %}