<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AFS - Accueil</title>
    {{ helpers.assets.css('forms-min') }}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:900,700,400" rel='stylesheet' type='text/css'>
    <link href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" rel='stylesheet' type='text/css'>
    {{ helpers.assets.css('style') }}
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div class="menu-reduced">
    <div class="wrapper_menu">
        <div class="menu_ham"></div>
    </div>
</div>
<aside class="menu-reduced">
    <a href="/" id="logo">{{ helpers.assets.img('logolarge.png', 'Logo Away From Security') }}</a>
    <nav>
        <form class="pure-form" action="/search" method="get">
            <input class="pure-input-1-1 search_input" type="text" placeholder="Rechercher ..."/>
            <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
        </form>
        <ul>
            <li><a href="/event/">Événements</a></li>
            <li><a href="/article">Actualités</a></li>
            <li><a href="/user/all">Annuaire</a></li>
            <li><a href="#">Partenaire</a></li>
        </ul>
    </nav>
    <div class="user-menu">
        {% if auth.valid %}
           {% include 'home/user_menu' %}
       {% else %}
           {% include 'home/login_menu' %}
       {% endif %}
    </div>
    <ul class="footer">
        <li><a href="#"><b>{{ count.online }}</b> connecté(s)</a></li>
        <li><a href="#"><b>{{ count.user }}</b> inscrits</a></li>
        <li><a href="#"><b>{{ count.event }}</b></a> évènements</li>
    </ul>
</aside>
<section class="menu-reduced">
    {% block content %}

    {% endblock %}
</section>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
{{ helpers.assets.js('menu') }}
{{ helpers.assets.js('register') }}
{{ helpers.assets.js('conv_create') }}
</body>
</html>
