{% extends "layout/default" %}
{% block content %}
    <article>
        <ul id="events">
            <li>
                <h1>{{ event.name }}</h1>

                <h2>Prix : {{ event.money }}€</h2>
                <h2>le {{ event.eventtime }}</h2>
                <h2>ajouté le {{ event.createtime }}</h2>
                <h2>par : <a href="/user/profile/{{ event.user.username }}">{{ event.user.firstname ~ ' ' ~ event.user.lastname }}</a></h2>

                <h3>Adresse : {{ event.address }}</h3>
                <h3>Participants : {{ event.personsnow }}</h3>
                <h3>Participants Maximum : {{ event.personsmax }}</h3>
                <p>
                    {{ event.description }}
                </p>
            </li>
        </ul>
    </article>
{% endblock %}