{% extends "layout/default" %}
{% block content %}
    <article class="event-show">
        <h1>{{ event.name }}</h1>

        <span class="mini-text"><b>Prix</b> : {{ event.money }}€ </span>
        <span class="mini-text"><b>le</b> {{ event.eventtime }} </span>
        <span class="mini-text"><b>ajouté le </b>{{ event.createtime }}, </span>
        <span class="mini-text"><b>par : </b><a
                    href="/user/profile/{{ event.user.username }}">{{ event.user.firstname ~ ' ' ~ event.user.lastname }}</a></span>

                <h6>Adresse : {{ event.address }}</h6>
                <h6>Participants maximum : {{ event.personsmax }}</h6>
                <h6>Places restantes : {{ event.personsnow }}</h6>
                <h6>Description : </h6>
                <p>
                    {{ event.description }}
                </p>

        {% if auth.valid %}
            {% if participate is empty and event.personsnow != 0 and not event.mine %}
                <a href="/event/participate/{{ event.id }}" class="pure-button button-success">Participer</a>
            {% elseif participate is not empty and not event.mine %}
                <a href="/event/unparticipate/{{ event.id }}" class="pure-button button-error">Annuler Participation</a>
            {% endif %}
        {% endif %}

        {% if event.mine %}
            <a href="/event/modify/{{ event.id }}" class="pure-button button-secondary">Modifier</a>
        {% endif %}


        <hr/>
        <div>
            <ul class="article-comments">
                {% for comment in comments %}
                    <li class="article-comment">
                        <b class="article-comment-author">Par {{ comment.authorFullName }} le {{ comment.postdate }}</b>

                        <p class="article-comment-message">
                            {{ comment.message }}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {% if auth.valid %}
        <hr/>
        <div>
            <form method="POST" action="/event/comment/{{ event.id }}"
                  class="pure-form pure-form-aligned conversation-creation">
                <div class="pure-control-group">
                    <label for="message">Commentaire</label>
                    <textarea required id="message" name="message"
                              placeholder="Un commentaire constructif, sans trolls."></textarea>
                </div>

                <div class="pure-controls">
                    <input type="submit" value="Commenter !" name="submit"
                           class="pure-button pure-button-primary"/>
                </div>
            </form>
        </div>
        {% endif %}
    </article>
{% endblock %}