{% extends "layout/default" %}
{% block content %}
    <article>
        <ul id="events">
            <li>
                <h1>{{ event.name }}</h1>

                <span class="mini-text">Prix : {{ event.money }}€, </span>
                <span class="mini-text">le {{ event.eventtime }}, </span>
                <span class="mini-text">ajouté le {{ event.createtime }}, </span>
                <span class="mini-text">par : <a
                            href="/user/profile/{{ event.user.username }}">{{ event.user.firstname ~ ' ' ~ event.user.lastname }}</a></span>

                <h6>Adresse : {{ event.address }}</h6>
                <h6>Participants maximum : {{ event.personsmax }}</h6>
                <h6>Places restantes : {{ event.personsnow }}</h6>
                <p>
                    {{ event.description }}
                </p>

                {% if auth.valid  %}
                    {% if participate is empty and event.personsnow != 0 %}
                    <a href="/event/participate/{{ event.id }}" class="pure-button button-success">Participer</a>
                {% elseif participate is not empty and not event.mine %}
                    <a href="/event/unparticipate/{{ event.id }}" class="pure-button button-error">Annuler Participation</a>
                {% endif %}
                {% endif %}

                {% if event.mine %}
                <a href="/event/modify/{{ event.id }}" class="pure-button button-secondary">Modifier</a>
                {% endif %}
            </li>
        </ul>
    </article>
{% endblock %}