{% extends "layout/default" %}
{% block content %}
    <article>
        <ul id="events">
            <li>
                <h1>{{ event.name }}</h1>

                <h2>Prix : {{ event.money }}€</h2>
                <h2>le {{ event.eventtime }}</h2>
                <h2>ajouté le {{ event.createtime }}</h2>
                <h2>par : <a href="/user/profile/{{ event.user.username }}">{{ event.user.firstname ~ ' ' ~ event.user.lastname }}</a></h2>

                <h3>Adresse : {{ event.address }}</h3>
                <h3>Participants : {{ event.personsnow }}</h3>
                <h3>Participants Maximum : {{ event.personsmax }}</h3>
                <p>
                    {{ event.description }}
                </p>

                {% if participate is empty %}
                <a href="/event/participate/{{ event.id }}" class="pure-button button-success">Participer</a>
                {% else %}
                <a href="/event/unparticipate/{{ event.id }}" class="pure-button button-error">Annuler Participation</a>
                {% endif %}

                {% if event.mine %}
                <a href="/event/modify/{{ event.id }}" class="pure-button button-secondary">Modifier</a>
                {% endif %}
            </li>
        </ul>
    </article>
{% endblock %}