{% extends "layout/default" %}
{% block content %}
    <article>
        <h1>Annuaire des utilisateurs</h1>

        <table class="pure-table pure-table-horizontal pure-table-striped centered">
            <thead>
            <tr>
                <th class="td-reduced">#</th>
                <th>Avatar</th>
                <th>Pseudo</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Inscrit depuis</th>
                <th class="td-wide">Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for user in users %}
                <tr class="tr-reduced">
                    <td class="td-reduced">{{ user.id }}</td>
                    <td>
                        <a href="/user/profile/{{ user.username }}">
                            <img src="https://www.gravatar.com/avatar/{{ user.mailhash }}.png" alt="avatar"/>
                        </a>
                    </td>
                    <td>
                        <a href="/user/profile/{{ user.username }}">
                            {{ user.username }}
                        </a>
                    </td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.registerdate }}</td>
                    <td>
                        <a href="/conversation/create/{{ user.username }}">Envoyer MP</a><br/>
                        <a href="/user/profile/{{ user.username }}">Voir profil</a>
                        {% if user.addFriend %}
                            <a href="/user/add/{{ user.id }}">Demander en ami</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock %}