{% extends "layout/default" %}
{% block content %}
    <article>
        <h1>Annuaire des utilisateurs</h1>

        <table class="pure-table pure-table-horizontal pure-table-striped centered">
            <thead>
            <tr>
                <th class="td-reduced">#</th>
                <th>Avatar</th>
                <th>Pseudo</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Inscrit depuis</th>
                <th class="td-wide">Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for user in users %}
                <tr class="tr-reduced">
                    <td class="td-reduced">{{ user.id }}</td>
                    <td>
                        <a href="/user/profile/{{ user.username }}">
                            <img src="https://www.gravatar.com/avatar/{{ user.mailhash }}.png" alt="avatar"/>
                        </a>
                    </td>
                    <td>
                        <a href="/user/profile/{{ user.username }}">
                            {{ user.username }}
                        </a>
                    </td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.registerdate }}</td>
                    <td>
                        <a href="/conversation/create/{{ user.username }}">Envoyer MP</a><br/>
                        <a href="/user/profile/{{ user.username }}">Voir profil</a>
                        {% if user.addFriend %}
                            <a href="/user/add/{{ user.id }}">Demander en ami</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul class="pure-paginator">
            <li><a class="pure-button prev {{ page.actual == 1 ? 'pure-button-disabled' }}"
                   href="/user/all/{{ page.actual > 1 ? page.actual - 1 : page.actual }}">&#171;</a></li>
            {% for nb in 1..page.total %}
                <li><a class="pure-button {{ nb == page.actual ? 'pure-button-active' : '' }}"
                       href="/user/all/{{ nb }}">{{ nb }}</a></li>
            {% endfor %}
            <li><a class="pure-button next {{ page.actual == page.total ? 'pure-button-disabled' }}"
                   href="/user/all/{{ page.actual < page.total ? page.actual + 1 : page.actual }}">&#187;</a></li>
        </ul>

    </article>
{% endblock %}