{% extends "layout/default" %}

{% block content %}
    <article class="profile responsive-profile">
        <h1>Profil de {{ profile.username }} ({{ profile.firstname ~ ' ' ~ profile.lastname }})</h1>

        <div class="profile-group">
            <img src="http://www.gravatar.com/avatar/{{ profile.mailHash }}.png" alt="{{ username ~ ' avatar' }}"
                 class="profile-avatar"/>
            <span class="profile-line"><b class="profile-label">Nom : </b>{{ profile.lastname }}</span>
            <span class="profile-line"><b class="profile-label">Prénom : </b>{{ profile.firstname }}</span>
            <span class="profile-line"><b class="profile-label">Pseudo : </b>{{ profile.username }}</span>
            <span class="profile-line"><b class="profile-label">Age : </b>{{ profile.age }} ans</span>
        </div>
        <div class="profile-group">
            <span class="profile-line"><b class="profile-label">Profession : </b>{{ profile.job }}</span>
            <span class="profile-line"><b class="profile-label">Inscrit depuis
                    le </b>{{ profile.registerDateFormat }}</span>
        </div>
        <div class="profile-group">
            <span class="profile-line"><b class="profile-label">Description : </b></span>

            <p class="profile-description"><span class="profile-line">{{ profile.description }}</span></p>
        </div>
        <div class="profile-group">
            {% if profile.mail %}
                <span class="profile-line">
                    <b class="profile-label"><i class="fa fa-at"></i>
                    </b>{{ profile.mail }}</span>
            {% endif %}
            {% if profile.phonenumber %}
                <span class="profile-line"><b class="profile-label"><i
                                class="fa fa-phone"></i></b>{{ profile.phonenumber }}</span>
            {% endif %}
            {% if profile.twitter %}
                <span class="profile-line">
                    <b class="profile-label">
                        <i class="fa fa-twitter"></i>
                    </b>
                    <a href="https://twitter.com/{{ profile.twitter }}">{{ profile.twitter }}</a>
                </span>
            {% endif %}
            {% if profile.facebookuri %}
                <span class="profile-line">
                    <b class="profile-label">
                        <i class="fa fa-facebook"></i>
                    </b>
                    <a href="https://www.facebook.com/{{ profile.facebookuri }}">{{ profile.facebookuri }}</a>
                </span>
            {% endif %}
            {% if profile.skype %}
                <span class="profile-line">
                    <b class="profile-label">
                        <i class="fa fa-skype"></i>
                    </b>
                    <a href="skype:{{ profile.skype }}?">{{ profile.skype }}</a>
                </span>
            {% endif %}
            {% if profile.website %}
                <span class="profile-line">
                    <b class="profile-label"><i class="fa fa-desktop"></i>
                    </b>
                    <a href="{{ profile.website }}">{{ profile.website }}</a>
                </span>
            {% endif %}
        </div>
    </article>
{% endblock %}